<!--Acerca de Mi MODAL-->
<form [formGroup]="form"  (ngSubmit)="onEnviar($event)"> 
<div class="modal fade" id="acercaDeMiModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLabel">Acerca de Mi</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Nombre y Apellido</label>
    <div class="col-sm-12">
      <input type="name" formControlName="name" class="border-sucess"[class.border-danger]="NameValid">
    </div>
    <div *ngIf="Name?.errors  && Name?.touched">    
      <p *ngIf="Name?.hasError('required')" class="error">
          El Nombre y Apellido  es requerido.
      </p>
      <p *ngIf="Name?.hasError('name')" class="error">
          Complete datos.
        </p>
    </div>
    </div>
   
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Profesion</label>
    <div class="col-sm-12">
      <input type="profession" formControlName="profession"[class.border-danger]="ProfessionValid"> 
    </div>
    <div *ngIf="Profession?.errors  && Profession?.touched">    
      <p *ngIf="Profession?.hasError('required')" class="error">
          La profesion es requerida.
      </p>
    </div>
  </div>
    
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Acerca de Mi</label>
    <div class="col-sm-12">
      <textarea name="acercaDeMi" placeholder="acercaDeMi" id="" cols="30" rows="10"></textarea>
    </div>
      <div *ngIf="Message?.errors  && Message?.touched">    
        <p *ngIf="Message?.hasError('required')" class="error"align="right">
            "Completar"
        </p>
      </div>
    </div>
   </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-primary">Borrar</button>
    </div>
    </div>
    </div>
</div>
</form>
    
