<form>
<div class="modal fade" id="redesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title" id="redesModalLabel">Redes</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <label for="exampleDataList" class="form-label">Elegir Red</label>
      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Elegir Red">
      <datalist id="datalistOptions">
  <option value="Instagram">
  <option value="GitHub">
  <option value="Linkedin">
  <option value="Facebook">
      </datalist>
      <br>
      <label for="exampleDataList" class="form-label">Icono</label>
      <input class="form-control form-control-sm" id="formFileSm" type="file">
   </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-primary">Borrar</button>
    </div>
    </div>
    </div>
</div>
</form>
  
