<form [formGroup]="redes"  (ngSubmit)="onEnviar($event)">  
<div class="modal fade" id="redesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title" id="redesModalLabel">Redes</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <label for="exampleDataList" class="form-label">Elegir Red</label>
      <br>
      <input type="text" list="datalistOptions" id="exampleDataList"
      formControlName="red" placeholder="Red" class="border-sucess"[class.border-danger]="RedValid">
      <datalist id="datalistOptions">
        <option value="Instagram">
        <option value="GitHub">
        <option value="Linkedin">
        <option value="Facebook">
      </datalist>
      <div *ngIf="red?.errors  && red?.touched">    
        <p *ngIf="red?.hasError('required')" class="error">
            Elija una Red
        </p>
      </div>
      <br>
      <label for="exampleDataList" class="form-label">Icono</label>
      <br>
      <input type="text" formControlName="url" placeholder="Url" class="border-sucess"[class.border-danger]="UrlValid">
   </div>
   
   <div *ngIf="Url?.errors  && Url?.touched">    
    <p *ngIf="Url?.hasError('required')" class="error">
        Completar la Url
    </p>
  </div>
    <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="submit" class="btn btn-primary">Borrar</button>
    </div>
    </div>
    </div>
</div>
</form>
  
