 <!--Experiencia Laboral MODAL-->
 <form>
 <div class="modal fade" id="experienciaLaboralModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLabel">Experiencia Laboral</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="mb-3 row">
        <label for="formFileSm" class="form-label">Empresa</label>
      <div class="col-sm-12">
        <input class="form-control form-control-sm" id="experienciaEmpresa" type="text"placeholder="Nombre Empresa">
      </div>
      </div>
      <div class="mb-3 ">
        <label for="experienciaPeriodoInicio" class="form-label">Periodo Inicio</label>
        <input  type="date" class="form-control form-control" id="experienciaInicio">
      </div>
      <div class="mb-3 ">
        <label for="experienciaPeriodoFin" class="form-label">Periodo Fin</label>
        <input  type="date" class="form-control form-control" id="experienciaFin">
      </div>
      <div class="mb-3 row">
        <label for="formFileSm" class="form-label">Cargo</label>
      <div class="col-sm-12">
        <input class="form-control form-control-sm" id="experienciaCargo" type="text" placeholder="Nombre Cargo">
      </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-primary">Borrar</button>
    </div>
    </div>
    </div>
    </div>
 </div>
</form>
  