<main>
    <section id="panel" class="panel">
      <div class="container text-center">
          <div class="row mt-3 g-2 g-lg-3">
            <div class="col" *ngFor="let boton1 of botones1">
              <div><button type="button" class="btn btn-dark btn-large p-5" [attr.data-bs-target]="boton1.target" data-bs-toggle="modal" ><i [ngClass]="boton1.icono"></i></button></div>
            </div>
            
          
          </div>
          <div class="row mt-3 g-2 g-lg-3">
              <div class="col" *ngFor="let boton2 of botones2">
                <div><button type="button" class="btn btn-dark btn-large p-5" [attr.data-bs-target]="boton2.target" data-bs-toggle="modal" ><i  [ngClass]="boton2.icono"></i></button></div>
              </div>
              
            
            </div>
            <div class="row mt-3 g-2 g-lg-3">
              <div class="col" *ngFor="let boton3 of botones3">
                <div><button type="button" class="btn btn-dark btn-large p-5" [attr.data-bs-target]="boton3.target" data-bs-toggle="modal" ><i  [ngClass]="boton3.icono"></i></button></div>
              </div>
              
            </div>
            <div class="row mt-3 g-2 g-lg-3">
              <div class="col" *ngFor="let boton4 of botones4">
                <div><button type="button" class="btn btn-dark btn-large p-5" [attr.data-bs-target]="boton4.target" data-bs-toggle="modal" ><i  [ngClass]="boton4.icono"></i></button></div>
              </div>
              
            </div>
            <div class="row mt-3 g-2 g-lg-3">
              <div class="col" *ngFor="let boton5 of botones5">
                <div><button type="button" class="btn btn-dark btn-large p-5" [attr.data-bs-target]="boton5.target" data-bs-toggle="modal" ><i  [ngClass]="boton5.icono"></i></button></div>
              </div>
            
            
            </div>
        </div>
    </section>
  </main>
<app-redesdashboard></app-redesdashboard>
<app-perfildashboard></app-perfildashboard>
<app-bannerdashboard></app-bannerdashboard>
<app-acercademidashboard></app-acercademidashboard>
<app-infobasicadashboard></app-infobasicadashboard>
<app-educaciondashboard></app-educaciondashboard>
<app-skilldashboard></app-skilldashboard>
<app-experienciadashboard></app-experienciadashboard>
<app-footerdashboard></app-footerdashboard>
<app-proyectosrealizadosdashboard></app-proyectosrealizadosdashboard>
<app-saludoproyectosdashboard></app-saludoproyectosdashboard>
