  <!--Seccion Acerca de mi e Informacion Basica-->
  <section  id="acerca-de-mi" class="acerca-de-mi">
    <div class="section"  id="acerca-de-mi">
       <div class="container">
          <div class="card" data-aos="fade-up" data-aos-offset="10">
             <div class="row">
                <div class="col-lg-6 col-md-12">
                   <div class="card-body">
                      <div class="h4 mt-0 title1">{{title1}}</div>
                      <p>Hola!!  Soy<b> Maria Angélica Correa</b>. </p>
                      
                     <p> <b>{{acerca}}</b></p>
                   </div>
                </div>
                <div class="col-lg-6 col-md-12">
                   <div class="card-body">
                      <div class="h4 mt-0 title2">{{title2}}</div>
                      <div class="row">
                         <div class="col-sm-4"><strong class="text-uppercase">Edad:</strong></div>
                         <div class="col-sm-8"><b>{{edad}}</b></div>
                      </div>
                      <div class="row mt-3">
                         <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                         <div class="col-sm-8"><b>{{email}}</b></div>
                      </div>
                      <div class="row mt-3">
                         <div class="col-sm-4"><strong class="text-uppercase">Telefono:</strong></div>
                         <div class="col-sm-8"><b>{{telefono}}</b></div>
                      </div>
                      <div class="row mt-3">
                         <div class="col-sm-4"><strong class="text-uppercase">Ciudad y País :</strong></div>
                         <div class="col-sm-8"><b>{{ciudad}} - {{pais}}</b></div>
                      </div>
                      <div class="row mt-3">
                         <div class="col-sm-4"><strong class="text-uppercase">Idioma:</strong></div>
                         <div class="col-sm-8"><b>{{idioma}}</b></div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
