  <!--Seccion Acerca de mi e Informacion Basica-->
  <section  id="acerca-de-mi" class="acerca-de-mi">
    <div class="section"  id="acerca-de-mi">
       <div class="container">
          <div class="card" data-aos="fade-up" data-aos-offset="10">
             <div class="row">
                <div class="col-lg-6 col-md-12">
                   <div class="card-body">
                      <div class="h4 mt-0 title">Acerca de  Mi</div>
                      <p>Hola!!  Soy<b> Maria Angélica Correa</b>. </p>
                      <p>Soy  <b> Programadora Full Stack Web Jr.</b></p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, neque. Accusamus quisquam reprehenderit officia ipsam laborum, repellendus esse facere, nemo, ullam in explicabo ut aliquid? Commodi repudiandae esse eaque ipsa.</p>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, neque. Accusamus quisquam reprehenderit officia ipsam laborum, repellendus esse facere, nemo, ullam in explicabo ut aliquid? Commodi repudiandae esse eaque ipsa.</p>
                   </div>
                </div>
                <div class="col-lg-6 col-md-12">
                   <div class="card-body">
                      <div class="h4 mt-0 title">Información Básica</div>
                      <div class="row">
                         <div class="col-sm-4"><strong class="text-uppercase">Edad:</strong></div>
                         <div class="col-sm-8">00</div>
                      </div>
                      <div class="row mt-3">
                         <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
                         <div class="col-sm-8">correo@correo.com</div>
                      </div>
                      <div class="row mt-3">
                         <div class="col-sm-4"><strong class="text-uppercase">Telefono:</strong></div>
                         <div class="col-sm-8">+54966666666</div>
                      </div>
                      <div class="row mt-3">
                         <div class="col-sm-4"><strong class="text-uppercase">Ciudad y País :</strong></div>
                         <div class="col-sm-8">La Plata, Buenos Aires, Argentina</div>
                      </div>
                      <div class="row mt-3">
                         <div class="col-sm-4"><strong class="text-uppercase">Idioma:</strong></div>
                         <div class="col-sm-8">Inglés, Español</div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
