 <!--Portfolio MODAL-->
 <form [formGroup]="form"  (ngSubmit)="onEnviar($event)">  
 <div class="modal fade" id="portfolioModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLabel">Portfolio</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Inicio</label>
    <div class="col-sm-12">
      <input class="form-control form-control-sm border-sucess"[class.border-danger]="InicioValid" id="formFileSm" type="text"formControlName="inicio">
    </div>
    <div *ngIf="Inicio?.errors  && Inicio?.touched">    
      <p *ngIf="Inicio?.hasError('required')" class="error">
         Inicio es requerido
      </p>
    </div>
    </div>
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Pagina Proyectos</label>
    <div class="col-sm-12">
      <input class="form-control form-control-sm border-sucess"[class.border-danger]="PageValid"  id="paginaProyectos" type="text"formControlName="page">
    </div>
    <div *ngIf="Page?.errors  && Page?.touched">    
      <p *ngIf="Page?.hasError('required')" class="error">
         Complete  informacion
      </p>
    </div>
    </div>
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Curriculum</label>
    <div class="col-sm-12">
      <input class="form-control form-control-sm border-sucess"[class.border-danger]="cvValid"  id="portfolioCurriculum" type="file"formControlName="cv">
    </div>
    <div *ngIf="cv?.errors  && cv?.touched">    
      <p *ngIf="cv?.hasError('required')" class="error">
         CV es requerido
      </p>
    </div>
    </div>
   
    <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Guardar</button>
    <button type="submit" class="btn btn-primary">Borrar</button>
    </div>
    </div>
    </div>
    </div>
</div>
</form>

