/*Cambiar rayitas por circulos en carrusel */
.carousel-indicators [data-bs-target] {
    height: 15px;
    width: 15px;
    outline: black;
    background-color: #fff;
    background-size: 100%, 100%;
    border-radius: 50%;
    border: 1px solid #fff;
     }