<form [formGroup]="form"  (ngSubmit)="onEnviar($event)"> 
<div class="modal fade" id="mainModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLabel">Carrusel</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <div class="mb-12 row">
      <label for="formFileSm" class="form-label">Fondo</label>
    <div class="col-sm-12">
      <input type="text" formControlName="url" placeholder="Url" class="border-sucess"[class.border-danger]="UrlValid">
    </div>
    <div *ngIf="Url?.errors  && Url?.touched">    
      <p *ngIf="Url?.hasError('required')" class="error">
          Completar Url
      </p>
    </div>
    </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="submit" class="btn btn-primary">Borrar</button>
    </div>
    </div>
    </div>
</div>
</form>    
  
