<footer>
    <section id="contacto"class="contacto">
          <div class="contenedor">
             <h3 class="titulo">Contacto</h3>
          
             <!--Formulario de contacto-->
             <form class="formulario" action="">
                <input type="text"placeholder="Nombre" name="nombre" required>
                <input type="email"placeholder="Correo" name="correo" required>
                <textarea name="mensaje" placeholder="Mensaje" id="" cols="30" rows="10"></textarea>
                <input class="boton" type="submit" value="Enviar">
             </form>
          </div>
       </section>

       <section class="redes-sociales">
          <div class="contenedor">
             <a class="facebook" href="https://www.facebook.com/"target="_blank"><i class="fa-brands fa-facebook"></i></a>
             <a class="instagram" href="https://www.instagram.com/"target="-blank"><i class="fa-brands fa-instagram"></i></a>
             <a class="linkedin" href="https://ar.linkedin.com/"target="-blank"><i class="fa-brands fa-linkedin"></i></a>
             <a class="github" href="https://github.com/"target="-blank"><i class="fa-brands fa-github"></i></a>
             
          
            
          </div>
       </section>
    </footer>
