.container.container-fluid.container-lg.container-md{
    --bs-gutter-x:2.5rem;
}
.progress-container {
    margin-bottom: 20px;
    font-size: 18px;
}
.row{
    margin-right: -15px;
    margin-left: -15px;
}
.container{
   position: relative;
   background: #FFF;
}
.card-body {
    flex: 1 1 auto; 
  padding: 3.25rem; 
}
col-md-3{
    background-color:#14837f!important;
}

.progress-bar{
   background-color: #14837f !important;
 }
 /*grosor lineas de %*/
 .progress-container .progress-bar{
    height: 5px;
}

.card{
   --bs-card-border-width: 2px;
   --bs-card-border-radius: 0.700rem;
     box-shadow: 0px 0px 15px rgba(0,0,0,.35);
}

.title{
  color:#000;;    
  font-weight: 700;   
  font-size: 1.714em;
  line-height: 1.45em;
  margin-top: 40px;
  margin-bottom: 15px;
}
section p {
  line-height:27px;
} 
a.btn.btn-primary{
    --bs-btn-bg: #14837f !important;
    --bs-btn-hover-bg:#49C199 !important;
    --bs-btn-hover-border-color:#49C199;
    --bs-btn-border-color: #14837f !important;
    --bs-btn-active-bg:#14837f;
    --bs-btn-hover-bg:#14837f;
    --bs-btn-active-border-color:#14837f !important;
    --bs-btn-disabled-bg:#14837f;
    --bs-btn-active-shadow:#49C199;
    --bs-btn-disabled-border-color: #49C199;
    --bs-btn-active-border-color:#49C199 !important;
    --bs-btn-focus-shadow-:#14837f;
    --bs-btn-color: #49c199;
    
   }
.btn-dark{
    --bs-btn-bg: #14837f !important;
    --bs-btn-hover-bg:#49C199;
    --bs-btn-hover-border-color:#49C199;
    --bs-btn-border-color: #14837f;
    --bs-btn-active-border-color:#49C199;
    --bs-btn-active-bg:#49C199; 
    --bs-btn-active-color:#49C199; 
    --bs-btn-focus-shadow:#49C199;
    --bs-btn-active-shadow: #49C199; 
    --bs-btn-box-shadow: #49C199;
    --bs-btn-color: #49c199;
    

}
