<nav class="navbar navbar-expand-lg bg-dark ">  
   <div class="container-fluid">
      <a class="navbar-brand" href="#">
      <img src="assets/img/APLogo.png" alt="" width="15%" height="">
      <img src="assets/img/LogosInti.png" alt="" width="20%" height="">
      </a>
      <div class="menu">
         <a routerLink="/">Inicio</a>
         <a href="#trabajos" id="btn-trabajos">Proyectos</a>
         <a href="#contacto" id="btn-contacto">Contacto</a>
        
      </div>
      <app-loginboton></app-loginboton>
      <app-modalproyectos></app-modalproyectos>
   </div>
</nav>
