.navbar.navbar-expand-lg.bg-dark{
    background-color: #14837f  !important;
}

/*Boton de LoginFooter */
.btn-primary{
    --bs-btn-bg: #14837f ; 
    --bs-btn-active-bg: #49C199;
    --bs-btn-hover-bg: #49C199;
    --bs-btn-focus-shadow-rgb: #49C199;
    --bs-btn-border-color: #49C199;
    --bs-btn-hover-border-color:#49C199;

}
.menu {
    margin: 30px 0;
    text-align: right;
}
.menu a {
    margin: 0 15px;
    color: #fff;
    
    padding-bottom: 9px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    font-size: 1em;


}
.menu a:hover {
    border-bottom: 2px solid #fff;
  }
