<nav class="navbar navbar-expand-lg bg-dark ">  
   <div class="container-fluid">
      <a class="navbar-brand" href="#">
      <img src={{logoAp}} alt="" width="15%" height="">
      <img src={{logoInti}} alt="" width="15%" height="">
   </a>
      <div class="menu">
         <a routerLink="/">Inicio</a>
         <a href="#trabajos" id="btn-trabajos">Proyectos</a>
         <a href="#contacto" id="btn-contacto">Contacto</a>
        
      </div>
      <app-loginboton></app-loginboton>
      <app-modalproyectos></app-modalproyectos>
   </div>
</nav>
