.form-container{
	font:95% Arial,helvetica,sans-serif;
	max-width: 700px;
	padding: 16px;
	margin: 10px auto;
	background: #f7f7f7;
}
.form-container h1{
	background: #14837f ;
	padding: 20px;
	font-size: 50px;
	font-weight: 300px;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;

}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea{
	transition: all 0,30% ease-in-out;
	outline: none;
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	margin-bottom: 4%;
	border: 1px solid #ccc;
	padding: 3%;
	color: #555;
	font: 95% Arial, Helvetica, sans-serif;
}
.form-container .btn-send {
	box-sizing: border-box;
	width: 100%;
	padding: 3%;
	background:#14837f;
	border-bottom: 2% solid #30c29e;
	border-top-style: none;
	border-left-style: none;
	border-right-style: none;
	border-bottom-style: none;
	color: #fff;
	font-size: 20px;
}
.form-container .btn-send:hover{
	background: #2ebc99;
}
 .error{
    color:red
  }
  
  .border-danger{
    border-color: red;
  }