 <!--Formulario de Contacto-->
 <section id="contacto" class="contacto">
   
   <a name="#contacto"></a>       <!--ANCLA-->
    <div class="contenedor">
       <h3 class="titulo">Contacto</h3>
      <form class="formulario" action="">
          <input type="text"placeholder="Nombre" name="nombre" required>
          <input type="email"placeholder="Correo" name="correo" required>
          <textarea name="mensaje" placeholder="Mensaje" id="" cols="30" rows="10"></textarea>
          <input class="boton" type="submit" value="Enviar">
       </form>
    </div>
 </section>
