<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><a href="https://github.com/"target="_blank"><i class="fa-brands fa-github fa-xl"></i></a></li>
    <li class="list-group-item"><a href="https://linkedin.com"target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a></li>
    <li class="list-group-item"><a href="https://www.instagram.com/"target="_blank"><i class="fa-brands fa-instagram fa-xl"></i></a></li>
    <li class="list-group-item"><a href="https://www.facebook.com/"target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
    <!-- Button trigger modal -->
    <!--Boton que abre Login-->
  
 </ul>
