 <!--Experiencia Laboral-->
 <section id="experiencia-laboral" class="experiencia-laboral" >
    <div class="section">
    <div class="container experiencia">
    <div class=" text-center mb-4 title">
       <a name="experiencia-laboral"></a> <!--ANCLA-->
       <h3><strong>Experiencia Laboral</strong></h3>
    </div>
    <div class="card" *ngFor="let experiencia of experiencias">
       <div class="row">
          <div class="col-md-3 " data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
             <div class="card-body experiencia">
             
                <div>
                   <h5 align="center"><b>{{experiencia.empresa}}</b></h5>
                   <br>
                   <p align="center"><b>{{experiencia.inicio}} - {{experiencia.fin}}</b></p>
                </div>
             </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
             <div class="card-body">
                <p><b>{{experiencia.cargo}}</b></p>
               
                <p>{{experiencia.descripcion}} - Lorem ipsum dolor sit amet consectetur adipisicing . Soluta sint minus dolor culpa rerum. Eaque cum illo assumenda nihil incidunt? Tempore modi quaerat qui fugiat consectetur eum!Lorem ipsum dolor . Eaque cum illo assumenda nihil incidunt !</p>
             </div>
          </div>
       </div>
      </div>
     </div>
   </div>
 </section>
 <br>
 
 
