   <!--El Login -->
   <form>
   <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLabel">Login</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <div class="mb-3 row">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <div class="col-sm-12">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    </div>
    <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
    <div class="col-sm-12">
    <input type="password" class="form-control" id="inputPassword">
    </div>
    </div>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-primary"data-bs-dismiss="modal"> Iniciar Sesion</button>
    </div>
    </div>
    </div>
    </div>
    </form>