<!--Espacio para mis Estudios-->
 <section id="educacion" class="educacion">
  <div class="section">
    <div class="container estudios">
    <div class=" text-center mb-4 title">
       <h3><strong>Educacion</strong></h3>
       <a name="#educacion"></a>  <!--ANCLA-->
   </div>
   <br>
    <div class="card"*ngFor="let estudio of estudios">
       <div class="row" >
          <div class="col-md-3" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
             <div class="card-body experiencia">
                <div >
                  <h5 align="center"><b>{{estudio.institucion}}</b></h5>
                  <p align="center"><b>{{estudio.inicio }} - {{estudio.fin}} </b></p>
                </div>
             </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
             <div class="card-body">
                <p><b>{{estudio.titulo}} </b></p>
                <p>{{estudio.descripcion}}</p>
             </div>
          </div>
       </div>
    </div>
    </div>
    </div>
 </section>
 <br>
 <br>
