  <!--Educacion MODAL-->
  <form [formGroup]="form"  (ngSubmit)="onEnviar($event)">  
  <div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLabel">Educación</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Institucion</label>
    <div class="col-sm-12">
      <input class="form-control form-control-sm border-sucess" [class.border-danger]="InstitucionValid">
     
    </div>
    <div *ngIf="Institucion?.errors  && Institucion?.touched">    
      <p *ngIf="Institucion?.hasError('required')" class="error">
          "La institucion es requerida"
      </p>
    </div>
    </div>
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Año</label>
    <div class="col-sm-12">
      <input  type="date" class="form-control form-control" id="educacionAño">
    </div>
    </div>
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Titulo</label>
    <div class="col-sm-12">
      <input class="form-control form-control-sm" id="educacionTitulo" type="text">
    </div>
    </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-primary">Borrar</button>
    </div>
    </div>
    </div>
    </div>
</div>
</form>
  
