  <!--Educacion MODAL-->
  <form [formGroup]="educacion"  (ngSubmit)="onEnviar($event)">  
  <div class="modal fade" id="educacionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLabel">Educación</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Institucion</label>
    <div class="col-sm-12">
      <input class="form-control form-control-sm border-sucess" [class.border-danger]="InstitucionValid" type="text"formControlName="institucion">
     
    </div>
    <div *ngIf="institucion?.errors  && institucion?.touched">    
      <p *ngIf="institucion?.hasError('required')" class="error">
          "La institucion es requerida"
      </p>
    </div>
    </div>
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Año</label>
    <div class="col-sm-12">
      <input  type="date"formControlName="anio" class="form-control form-control" id="educacionAño"[class.border-danger]="AnioValid">
    </div>
    <div *ngIf="anio?.errors  && anio?.touched">    
      <p *ngIf="anio?.hasError('required')" class="error">
          "El Año es Requerido"
      </p>
    </div>
    </div>
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Titulo</label>
    <div class="col-sm-12">
      <input class="form-control form-control-sm" id="educacionTitulo" type="text"[class.border-danger]="TituloValid"type="text"formControlName="titulo">
    </div>
    <div *ngIf="titulo?.errors  && titulo?.touched">    
      <p *ngIf="titulo?.hasError('required')" class="error">
          "El titulo es requerido"
      </p>
    </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="submit" class="btn btn-primary">Borrar</button>
    </div>
    </div>
    </div>
    </div>
</div>
</form>
  
