<form>
<div class="modal fade" id="perfilModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h4 class="modal-title" id="perfilModalLabel">Perfil</h4>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Foto perfil</label>
    <div class="col-sm-12">
      <input class="form-control form-control-sm" id="formFileSm" type="file">
    </div>
    </div>
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Nombre y Apellido</label>

    <div class="col-sm-12">
      <input class="form-control form-control-sm" id="formFileSm" type="text">
    </div>
    </div>
    <div class="mb-3 row">
      <label for="formFileSm" class="form-label">Titulo</label>

    <div class="col-sm-12">
      <input class="form-control form-control-sm" id="formFileSm" type="text">
    </div>
    </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary">Guardar</button>
      <button type="button" class="btn btn-primary">Borrar</button>
    </div>
    </div>
    </div>
</div>
</form>
  
